name: CI
on:
  - push
  - pull_request
permissions:
  contents: read
jobs:
  sample:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - run: npm test
